
<h2 id="test-subject"><%= @question.subject %></h2>
<%= erb :'votes/_question_vote_buttons', locals: {question: @question} %>
<h2><%= @question.subject %></h2>


<div class="question-page-container">
<!-- begin QUESTIONS -->
  <div class="question-box">
    <p class="question-body-text">
      <%= @question.question_body %>
    </p>

    <span>Asked on: <%= @question.created_at %></span>
     <div class="question-author-box">
      <span><a href="/users/<%= @question.question_author.id %>"><%= @question.question_author.username %></a></span>
    </div>
<!-- begin QUESTION COMMENTS -->
    <div class="question-comments-list-container">
      <ul>
        <% @question.comments.each do |comment| %>
          <%= erb :'/comments/_question_comment_container', locals: { comment: comment, question: @question } %>
        <% end %>
      </ul>
<!-- THROW A CLASS FOR NEW A TAGS IN HERE: -->
      <a id="new-question-comment" href="/questions/<%= @question.id %>/comments/new">Write a comment</a>
    </div>

  </div>
<!-- begin ANSWERS -->
  <div class="question-answer-list-container">
    <% @question.answers.each do |answer| %>
      <%= erb :'/answers/_answer_container', locals: { answer: answer} %>

    <% end %>
  </div>


  <footer>This is the bottom div, y'all</footer>
</div>
