<li>
  <div class="question-comment-box">
    <span><%= comment.comment_body %></span> – <span><a href="/users/<%= comment.comment_author.id %>"><%= comment.comment_author.username %></a> at <%= comment.created_at %></span>
<!-- THIS DOESNT WORK! -->
    <span class="question-votable-value"><%= question.vote_count %> </span>
    <!-- ########################### -->
    <%= erb :'votes/_question_vote_buttons', locals: {question: question} %>
  </div>
  <% if comment.comment_author == current_user %>
  <div class="question-comment-links">
    <!-- THROW A CLASS FOR EDIT A TAGS IN HERE: -->
    <a class="edit-button" href="/questions/<%= question.id %>/comments/<%= comment.id %>/edit">Edit it up, dogg</a>
    <!-- DELETE BUTTON GOES HERE -->
  </div>
  <% end %>
</li>
